$background-color: #f8f8f8;
$text-color: #1b1c21;
$icon-color: #ff3e79;
$icon-hover-color: #ec3e72;
$modal-text-color: #b5b6bc;
$gray-text-color: #7e7e82;
$border-color: #eaeaea;
$white-color: #fff;
$nav-list-active: #b8ffec;
$border-color: #d9fff5;

$font-family: 'TT Lakes', 'Arial', 'sans-serif';
$line-height-standard: 24px;
$font-size-standard: 16px;
$font-size-additional: 14px;
$transition-standard: all 0.3s ease-in;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1120px;
$desktop-big-desktop: 1440px;
