.aside-page {
  display: none;
  flex-direction: column;
  width: $mobile-width;
  min-height: 100vh;
  font-family: inherit;
  font-weight: 500;
  box-shadow:
    16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  visibility: hidden;
  background-color: $white-color;
  transition: $transition-standard;
  animation: asideOut 0.4s ease-in-out forwards;

  &.aside-page--active {
    display: flex;
    visibility: visible;
    height: 100%;
    animation: asideIn 0.4s ease-in-out forwards;
  }
  & {
    @media (min-width: $desktop-big-desktop) {
      body {
        min-width: $desktop-big-desktop;
      }

      & {
        display: flex;
        flex: 0 0 $mobile-width;
        visibility: visible;
        box-shadow: none;
        flex-direction: column;
        position: static;
        transition: none;
        min-height: 100% !important;
        animation: asideIn 0.4s ease-in-out forwards;
        grid-area: aside;
        z-index: 2800;
      }
    }
  }

  @keyframes asideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes asideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .header-page {
    max-width: $desktop-big-desktop;

    &__list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 24px 24px 46px 24px;
      justify-content: space-between;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-items: flex-start;
      gap: 20px;

      .header-page__link {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .main-aside {
    .main-nav {
      &__list {
        display: flex;
        flex-direction: column;

        &__item {
          margin-bottom: 10px;

          .main-nav__link {
            text-decoration: none;

            &--is-active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .footer {
    .contact-container {
      display: flex;
      justify-content: space-between;

      .contact-menu {
        display: flex;

        li {
          margin-right: 10px;
        }
      }

      .address {
        &__mail-link,
        &__tel-link {
          display: block;
          margin-bottom: 5px;
        }
      }
    }

    .lang {
      display: flex;
      font-weight: 500;
      text-transform: uppercase;
      list-style: none;
      padding: 0 0 32px 0;

      &__item {
        margin-right: 10px;

        &__link {
          &--active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
