.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}
