.swiper {
  overflow: visible;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  height: 100%;
  overflow: visible !important;

  &-wrapper {
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  &-slide {
    padding: 0;
    margin: 0;
    z-index: 5;
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  &-pagination {
    position: absolute;
    bottom: -30px !important;
    transform: translateX(-50%);

    &-bullet {
      width: 12px !important;
      height: 12px !important;
      background-color: #b5b6bc !important;
      opacity: 0.5;
      transition: opacity 0.3s ease;

      &-active {
        background-color: #b5b6bc !important;
      }
    }
  }

  // @media (min-width: 768px) {
  //   display: none !important;
  // }
  @include mediaMinMD;
}
